.bio {
    @include flex-column-item;
    width: 100vw;
    height: 100%;
    gap: 100px;
    padding: 150px 0px 100px 0px;
    background: rgb(0,0,0);
    background: linear-gradient(167deg, rgba(0,0,0,1) 40%, rgba(0,37,82,1) 100%);
    &_id {
        @include flex-item-content;
        width: 80%;
        max-width: 1440px;
        &-title {
            @include flex-column;
            & h1{
                @include lilita-one;
                color: white;
                font-size: 7rem;
                text-shadow: 7px 5px 15px #e7e5e3, 7px 5px 50px rgb(0, 83, 184), 7px 5px 50px rgb(44, 174, 255);
            }
            & h3 {
                @include montserrat-bold;
                font-size: 2.7rem;
                margin-left: 50px;
                text-decoration: underline 5px rgba(0,37,82,1);
                text-underline-offset: 7px;
            }
        }
        &-img {
            & img {
                height: 400px;
            }
        }
    }
    &_txt {
        @include flex-column;
        @include glow-shadows;
        // margin-top: 100px;
        max-width: 1000px;
        gap: 20px;
        padding: 80px;
        border-radius: 20px;
        & p {
            @include montserrat-regular;
            color: $grey;
            font-size: 1.4rem;
        }
    }
}