.projects {
    @include flex-column-item;
    @include gradient-right_top;
    @include glow-shadows-topInside;
    width: 100%;
    padding: 150px 0px;
    gap: 100px;
    &__cards {
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px;
        @include bp-1400 {
            grid-template-columns: 1fr 1fr;
        }
    }
}