.skills {
    flex-direction: column;
    gap: 80px;
    @include glow-shadows;
    @include flex-item-content;
    height: 100%;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    padding: 80px 0px;
    
    &_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 50px 50px;
        // background-color: aqua;
        max-width: 1440px;
    }
    &_icon {
        @include flex-item-content;
        border-radius: 20px;
        gap: 25px;
        min-height: 80px;
        min-width: 180px;
        border: 1px solid black;
        transition: transform .2s;
        &:hover {
            @include glow-shadows;
            cursor: pointer;
            transform: scale(1.3);
        }
        & img {
            width: 40px;
        }
        & h3 {
            @include montserrat-regular;
            color: white;
            font-size: 1.5rem;
        }
    }
}